<!DOCTYPE html>
<html>
<head>
	<title>Projeto Facebook</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
</head>
<body style='background-color:#dfe3ee'>
<nav class="navbar navbar-light" style="background-color:#3b5998">
  <a href=""><img src="../../../static/c.png" alt="logo" width="4%" height="8%"><img src="../../../static/f.png" alt="logo" width="8%" height="8%"></a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      	<div class="card">
			<div class="card-header">
		    	Palavras chaves 
			</div>
		 	<div class="card-body" style="background-color:#f7f7f7">
		    	<p class="card-text"> lula, Jaburu, haddad, Brasil, povo, comunistas, #elenao, Guedes, pobres, Temer, #elenunca</p>
		  	</div>
		</div>
		<div class="card">
			<div class="card-header">
		    	Publicações
			</div>
		 	<div class="card-body" style="background-color:#f7f7f7">
		 		{% for a in interessePolitica%}
		    	<p class="card-text"> {{ a }} </p>
		 		{% endfor%}
		  	</div>
		</div>
		<a href="{% url 'alunos'%}"> alunos</a>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
</body>
</html>